<div id="<%= dom_id vendor %>">
  <p>
    <strong>Refno:</strong>
    <%= vendor.refno %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= vendor.name %>
  </p>

  <p>
    <strong>Person:</strong>
    <%= vendor.person %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= vendor.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= vendor.address %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= vendor.status %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= vendor.category %>
  </p>

</div>
