<%= form_with(model: registration) do |form| %>
  <% if registration.errors.any? %>
    <div style="color: red">
      <ul>
        <% registration.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :property_id, style: "display: block" %>
                 <%= form.select(:property_id, options_for_select(Property.all.collect { |v| [ v.name, v.id ] }, form.object.property_id), { include_blank: true, prompt: 'Select Property Name'}, {class: "form-control" ,placeholder: "Property Name"}) %>
  </div>

  <div class="form-group">
    <%= form.label :vendor_id, style: "display: block" %>
           <%= form.select(:vendor_id, options_for_select(Vendor.all.collect { |v| [ v.name, v.id ] }, form.object.vendor_id), {include_blank: true,prompt: 'Select Vendor Name'}, {class: "form-control" ,placeholder: "Vendor Name"}) %>
  </div>

  <div class="form-group">
    <%= form.label :pin_id, style: "display: block" %>
        <%= form.select(:pin_id, options_for_select(Pin.all.collect { |v| [ v.title, v.id ] }, form.object.pin_id), {include_blank: true,prompt: 'Select Pin Name'}, {class: "form-control" }) %>
      
  </div>

    <div class="form-group">
    <%= form.label :tag_no, style: "display: block" %>
    <%= form.text_field :tag_no, class: "form-control"  %>
  </div>

      <div class="form-group">
    <%= form.label :note, style: "display: block" %>
    <%= form.text_field :note, class: "form-control"  %>
  </div>

  <div >
    <%= form.label :available, style: "display: block" %>
    <%= form.check_box :available%>

  </div>


  <div class="form-group">
    <%= form.submit %>
  </div>
<% end %>
