<div id="<%= dom_id registration %>">
  <p>
    <strong>Property:</strong>
    <%= registration.property_id %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= registration.vendor_id %>
  </p>

  <p>
    <strong>Pin:</strong>
    <%= registration.pin_id %>
  </p>

  <p>
    <strong>Tag no:</strong>
    <%= registration.tag_no %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= registration.available %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= registration.note %>
  </p>

</div>
