<div id="<%= dom_id registration %>">
  <p>
    <strong>Property_id:</strong>
    <%= registration.property_id %>
  </p>

  <p>
    <strong>Vendor_id:</strong>
    <%= registration.vendor_id %>
  </p>

  <p>
    <strong>Pin_id:</strong>
    <%= registration.pin_id %>
  </p>

  <p>
    <strong>Tag_no:</strong>
    <%= registration.tag_no %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= registration.note %>
  </p>

  <p>
    <strong>Available:</strong>
    <%= registration.available %>
  </p>


</div>
